.App{
    text-align: center;
    font-size: 25px;
    margin-top: 20%;
}

.App-title{
    font-size: 30px;
}

.clock-days,.clock-minutes,.clock-hours,.clock-seconds{display: inline;margin: 10px;}
.deadline-input{
    font-size: 25px;
    margin: 5px;
}